node_modules/
.DS_Store
Thumbs.db
*.suo
*.user
cinewatch.db
*.user
cinewatch.db
replace.js
replace.py

auto_sync.js

run_auto_sync.vbs
admin.html
CineWatch-Setup.exe
*.exe
*.zip
cinewatch-app/dist/
cinewatch-app/node_modules/
.omdb_key
.env